.box{
  display: flex;
  margin: 5px;
}

.my{
  align-self: flex-end;
}

.avatar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar:hover{
  cursor: pointer;
}

.content{
  margin-left: 10px;
}

.content p{
  font-size: 12px;
  color: #7F7F7F;
}

.right{
  text-align: end;
}

.marginRight{
  margin-right: 10px;
}

.message{
  max-width: 300px;
  margin-top: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 5px;
}

@media screen and (max-width:700px){
  .message{
    max-width: 180px;
  }
}