.box{
  background-color: #FAFAFA;
  width: 25%;
  
}
.logo img{
  width: 100%;
}
.search{
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  color: #8B40FF;
}
@media screen and (max-width:750px){
  .box{
    position: fixed;
    top: 10px;
    left: 20px;
    width: auto;
    z-index: 99;
  }
  .box span{
    font-size: 28px;
    color: #9E9E9F;
  }
}
@media screen and (min-width:750px){
  .box{
    background-color: #FAFAFA;
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .content{
    flex: auto;
    overflow: auto;
  }
  .content::-webkit-scrollbar{
    display: none;
  }
}

